# fix git names/emails; order from `git fame -wMC`
Edoardo Pasca <edoardo.pasca@stfc.ac.uk> <14138589+paskino@users.noreply.github.com>
Edoardo Pasca <edoardo.pasca@stfc.ac.uk> <edo@edosil.net>
Edoardo Pasca <edoardo.pasca@stfc.ac.uk> <vagrant@localhost.localdomain>
Edoardo Pasca <edoardo.pasca@stfc.ac.uk> <rlcr8@stfc.ac.uk>
Edoardo Pasca <edoardo.pasca@stfc.ac.uk> <edoardo.pasca@stfc.ac.uk>
Gemma Fardell <gemma.fardell@stfc.ac.uk> <gfardell@stfc.ac.uk>
Gemma Fardell <gemma.fardell@stfc.ac.uk> gfardell
Gemma Fardell <gemma.fardell@stfc.ac.uk> <47746591+gfardell@users.noreply.github.com>
Margaret Duff <margaret.duff@stfc.ac.uk> <43645617+MargaretDuff@users.noreply.github.com>
Vaggelis Papoutsellis <epapoutsellis@gmail.com> <22398586+epapoutsellis@users.noreply.github.com>
Vaggelis Papoutsellis <epapoutsellis@gmail.com> epapoutsellis
Casper da Costa-Luis <casper.da-costa-luis@stfc.ac.uk> <casper.dcl@physics.org>
Hannah Robarts <hannah.robarts@stfc.ac.uk> <77114597+hrobarts@users.noreply.github.com>
Hannah Robarts <hannah.robarts@stfc.ac.uk> hrobarts
Laura Murgatroyd <laura.murgatroyd@stfc.ac.uk> <60604372+lauramurgatroyd@users.noreply.github.com>
Evelina Ametova <evelinaametova@gmail.com> <47400194+evelinaametova@users.noreply.github.com>
Danica Sugic <danica.sugic@stfc.ac.uk> <138598662+DanicaSTFC@users.noreply.github.com>
Jakob Jørgensen <jakob.jorgensen@manchester.ac.uk> <jakobsj@users.noreply.github.com>
Jakob Jorgensen <jakob.jorgensen@manchester.ac.uk> <jakob.jorgensen@manchester.ac.uk>
Sam Tygier <sam.tygier@stfc.ac.uk> <74248560+samtygier-stfc@users.noreply.github.com>
Richard Brown <richard.brown@ucl.ac.uk>
Letizia Protopapa <letiziaprotopapa@live.it> Letizia97
Tomas Kulhanek <tomas.kulhanek@stfc.ac.uk> Kulhanek
Claire Delplancke <delplancke.claire@yahoo.fr> <52972039+ClaireDelplancke@users.noreply.github.com>
Daniil Kazantsev <dkazanc@hotmail.com> <dkazanc@hotmail.com>
Kris Thielemans <k.thielemans@ucl.ac.uk> <KrisThielemans@users.noreply.github.com>
