name: conda_build

on:
  release:
    types: [published]
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v1
    - name: publish-to-conda
      uses: paskino/conda-package-publish-action@v1.4.0
      with:
        subDir: 'recipe'
        channels: 'conda-forge -c astra-toolbox/label/dev -c cvxgrp -c ccpi'
        convert_win: false
        convert_osx: false
