#  -*- coding: utf-8 -*-
# Copyright 2021 United Kingdom Research and Innovation
# Copyright 2021 The University of Manchester

# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at

#     http://www.apache.org/licenses/LICENSE-2.0

# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Authors:
# CIL Developers, listed at: https://github.com/TomographicImaging/CIL/blob/master/NOTICE.txt
name: conda_and_docs_build
on:
  release:
    types: [published]
  push:
    branches: [master]
    tags:
      - '**'
    paths-ignore:
    - 'CHANGELOG.md'
    - 'CITATION.cff'
    - 'LICENSE'
    - 'scripts/**'
    - 'NOTICE.txt'
    - 'README.md'
  pull_request:
    branches: [master]
    paths-ignore:
    - 'CHANGELOG.md'
    - 'CITATION.cff'
    - 'LICENSE'
    - 'scripts/**'
    - 'NOTICE.txt'
    - 'README.md'
jobs:
  conda_build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: conda-build
      uses: paskino/conda-package-publish-action@v1.4.4
      with:
        subDir: recipe
        channels: -c conda-forge -c intel -c ccpi
        convert_win: false
        convert_osx: false
        test_pyver: 3.9
        test_npver: 1.22
    - name: Upload artifact of the conda package.
      uses: actions/upload-artifact@v3
      with:
        name: cil-package
        path: recipe/linux-64/cil*
  docs_build:
    needs: conda_build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - run: ls
    - name: Download artifact of the conda package.
      uses: actions/download-artifact@v3
      with:
        name: cil-package
        path: 'conda_package'
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.9
    - uses: lauramurgatroyd/build-sphinx-action@v0.1.4
      with:
        DOCS_PATH: docs
        CONDA_BUILD_ENV_FILEPATH: docs/docs_environment.yml
        ARTIFACT_NAME: DocumentationHTML
        PACKAGE_FOLDER_PATH: conda_package
        PACKAGE_NAME: cil
        PACKAGE_CONDA_CHANNELS: conda-forge -c intel -c ccpi
        BUILD_SUBDIR_NAME: nightly
        python_version: 3.9
  docs_publish:
    needs: docs_build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Download artifact of the html output.
      uses: actions/download-artifact@v3
      with:
        name: DocumentationHTML
        path: docs/build
    - name: redirect to nightly
      run: |
        cat <<EOF > docs/build/index.html
        <!DOCTYPE html>
        <html lang="en-GB">
          <meta charset="utf-8">
          <title>Redirecting&hellip;</title>
          <link rel="canonical" href="$DESTINATION">
          <script>location="$DESTINATION"</script>
          <meta http-equiv="refresh" content="0; url=$DESTINATION">
          <meta name="robots" content="noindex">
          <h1>Redirecting&hellip;</h1>
          <a href="$DESTINATION">Click here if you are not redirected.</a>
        </html>
      env:
        DESTINATION: https://tomographicimaging.github.io/CIL/nightly/
    - name: Push changes
      uses: casperdcl/push-dir@v1
      with:
        message: Update documentation
        branch: gh-pages
        dir: docs/build
        nojekyll: true
