name: conda_and_docs_build

on:
  release:
    types: [published]
  push:
    branches: [ master ]
    tags:
      - '**'
  pull_request:
    branches: [ master ]

jobs:
  conda_build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 0
    - name: conda-build
      uses: paskino/conda-package-publish-action@v1.4.3
      with:
        subDir: 'recipe'
        channels: 'conda-forge -c intel -c astra-toolbox/label/dev -c cvxgrp -c ccpi'
        convert_win: false
        convert_osx: false
    - name: Upload artifact of the conda package.
      uses: actions/upload-artifact@v3.1.1
      with:
        name: cil-package
        path: recipe/linux-64/cil*
  docs_build:
    needs: conda_build
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 0
    - name: change directory
      run: |
        ls
    - name: Download artifact of the conda package.
      uses: actions/download-artifact@v3.0.1
      with:
        name: 'cil-package'
        path: 'conda_package'
    - uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: 3.9
    - uses: lauramurgatroyd/build-sphinx-action@v0.1.3
      with:
        DOCS_PATH: 'docs'
        CONDA_BUILD_ENV_FILEPATH: 'docs/docs_environment.yml'
        ARTIFACT_NAME: 'DocumentationHTML'
        PACKAGE_FOLDER_PATH: 'conda_package'
        PACKAGE_NAME: 'cil'
        PACKAGE_CONDA_CHANNELS: 'conda-forge -c intel -c astra-toolbox/label/dev -c cvxgrp -c ccpi'
        BUILD_SUBDIR_NAME: 'nightly'
  docs_publish:
    needs: docs_build
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Download artifact of the html output.
      uses: actions/download-artifact@v3.0.1
      with:
        name: DocumentationHTML
        path: docs/build
    - name: Commit documentation changes
      run: |
        git clone https://github.com/TomographicImaging/CIL.git --branch gh-pages --single-branch gh-pages
        cp -r docs/build/* gh-pages/
        cd gh-pages
        touch .nojekyll
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update documentation" -a || true
        # The above command will fail if no changes were present, so we ignore
        # that.
    - name: Push changes
      uses: ad-m/github-push-action@v0.6.0
      with:
        branch: gh-pages
        directory: gh-pages
        github_token: ${{ secrets.GITHUB_TOKEN }}

